@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  src: local('General Sans Regular'),
    url('fonts/general-sans/GeneralSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  src: local('General Sans Medium'),
    url('fonts/general-sans/GeneralSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  src: local('General Sans Semibold'),
    url('fonts/general-sans/GeneralSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 700;
  src: local('General Sans Bold'),
    url('fonts/general-sans/GeneralSans-Bold.woff') format('woff');
}


.mantine-InputWrapper-error{
  color: red;
}

.recharts-text{
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #0A0A0A !important;
}